.carousel {
  margin: auto;
  padding: 15px 0 0 0;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  i{
    font-size: 2vw;
  }

  .slide {
    padding: 15px;
    min-width: 50%;
    transition: .5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  
    p {
      font-size: 14px;
    }
  }
}


%btn-styles {
  position: absolute;
  top: 50px;
  transform: translateY(-50%);
  width: 10%;
  height: 10%;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
  &:hover {
    background: rgba(0, 0, 0, 0.055);
    cursor: pointer;
    color: blanchedalmond;
  }
}

#goLeft {
  right: 70px;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
}
