.carousel {
  width: 66.6%;
  margin: auto;
  padding: 15px 0 0 0;
}

.carousel__slides {
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  .slide {
    padding: 15px 5px 0 5px;
    min-width: 50%;
    transition: .5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    
  
    p {
      font-size: 14px;
      letter-spacing: .15em;
      color:rgba(0, 0, 0, 0.8)
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

%btn-styles {
  font-size: 35px;
  width: 30px;
  height: auto;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
  &:hover {
    cursor: pointer;
  }
}

.goLeft {
  @extend %btn-styles;
}

.goRight {
  margin-right: 20px;
  @extend %btn-styles;
}
