.main {
  background-color: #fff;
  max-width: 1900px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
  letter-spacing: .15em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}