.slider__image-container {
  position: absolute;
  opacity: 0;
  transition: all 3s ease-in;
}

.slider__image {
  width: 100%;
  max-height: 300px;
}

.slider__image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 100%;
  opacity: 0;
  transition: 1.5s ease;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0.4766281512605042) 0%, rgba(35,35,235,0.2413340336134454) 33%, rgba(255,255,255,0) 100%);
  color: wheat;
}

.slider:hover .slider__image-overlay {
  opacity: 1;
}

.slider__image-overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slider__image-overlay .text a,
.slider__image-overlay .text a:visited {
  color: white;
  text-decoration: none;
}

.active {
  transition: all 3s ease-in;
  opacity: 1;
}
