.featured {
  width: 66.66%;
  margin: auto;
  padding: 100px 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.featured__container {


  display: flex;
}

.featured__left {
  width: 62.5%;
}

.featured__left > h1 {
  margin: 0;
  letter-spacing: .15em;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 80px;
}

.featured__right {
  width: 37.5%;
  background-color: rgba(209, 221, 240, 0.397);
}

.featured__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured__text-container h2 {
  margin: 0;
  letter-spacing: .15em;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;

  padding-top: 30px;
  padding-bottom: 20px;
}

.featured__text-container p {
  letter-spacing: .1em;
  font-size: 15px;
  font-weight: 300;
  color:rgba(0, 0, 0, 0.8)
}

