.header {
  width: 100%;
  padding: 40px 90px;
}

.header__title-container {
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
}

.header__title-container > p {
  margin: 0;
}

.header__input_search {
  border: none;
  outline: none;
}

.header__input_search::placeholder {
  color: var(--font-color);
  font-size: 15px;
  font-weight: 100;
}

.header__navigation-container {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header__navigation-links_right,
.header__navigation_social-links {
  justify-content: flex-end;
}

.header__logo {
  height: 100px;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  transition: color 570ms ease-in-out;
}

.header__navigation:hover {
  fill:rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  transition: color 570ms ease-in-out, fill 570ms ease-in-out;
}

.header__navigation_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.header__navigation li:hover {
  cursor: pointer;
  color: black;
  fill:black;
  transition: color 0.1s ease-in, fill 0.1s ease-in;
}

.header__navigation li {
  font-size: 14px;
  white-space: nowrap;
  margin-top: 10px;
}

.header__navigation-links_left > li {
  margin-right: 15px;
}

.header__navigation-links_right > li,
.social-links li {
  margin-left: 15px;
}

/* .header__navigation-links_right > li:first-child,
.header__navigation_social-links > li:first-child {
  margin-left: 0;
} */


