.display {
    padding: 34px 0 0 0;

    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);

  h3 {
    width: 66.6%;
    margin: auto;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
  }

}