.display {
    padding: 34px 0 0 0;
    width: 66.6%;   
    margin: auto;
    // background: rgba(233, 231, 231, 0.24);

  h3 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
  }

}